public/
resources/
exampleSite/public/
exampleSite/resources/
.hugo_build.lock

# Generated IBM Plex split assets
static/fonts/ibm-plex/

.cache/

# Fonts copied into the demo at build time (CI: cp -r static/fonts exampleSite/static/)
exampleSite/static/
