<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
    {{- range site.Params.socialIcons }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}" aria-label="{{ (.title | default .name) | title }}">
        {{- $sgName := lower (.title | default .name) -}}
        {{- if in (slice "github" "rss") $sgName -}}
        {{- partial "sg-icon.html" (dict "name" $sgName "size" 22) -}}
        {{- else -}}
        {{- partial "svg.html" . -}}
        {{- end }}
    </a>
    {{- end }}
</div>
